@charset "utf-8";

@import "reset.css";
@import "base.css";
@import "font.css";

/****************** intro ******************/
/* row1 */
.intro .grid .row1 .row__item:nth-of-type(1) .row__item-img {background-image:url(../img/ansanebook.png);}
.intro .grid .row1 .row__item:nth-of-type(2) .row__item-img {background-image:url(../img/mvoting.png);}
.intro .grid .row1 .row__item:nth-of-type(3) .row__item-img {background-image:url(../img/yeyak.png);}
.intro .grid .row1 .row__item:nth-of-type(4) .row__item-img {background-image:url(../img/arte.png);}
.intro .grid .row1 .row__item:nth-of-type(5) .row__item-img {background-image:url(../img/lgchem.png);}
.intro .grid .row1 .row__item:nth-of-type(6) .row__item-img {background-image:url(../img/bam.png);}
.intro .grid .row1 .row__item:nth-of-type(7) .row__item-img {background-image:url(../img/nuxe.png);}

/* row2 */
.intro .grid .row2 .row__item:nth-of-type(1) .row__item-img {background-image:url(../img/lotte.png);}
.intro .grid .row2 .row__item:nth-of-type(2) .row__item-img {background-image:url(../img/lush.png);}
.intro .grid .row2 .row__item:nth-of-type(3) .row__item-img {background-image:url(../img/cocacola.png);}
.intro .grid .row2 .row__item:nth-of-type(4) .row__item-img {background-image:url(../img/roundaround.png);}
.intro .grid .row2 .row__item:nth-of-type(5) .row__item-img {background-image:url(../img/aromatica.png);}
.intro .grid .row2 .row__item:nth-of-type(6) .row__item-img {background-image:url(../img/krispy.png);}
.intro .grid .row2 .row__item:nth-of-type(7) .row__item-img {background-image:url(../img/acebed.png);}

/* row3 */
.intro .grid .row3 .row__item:nth-of-type(1) .row__item-img {background-image:url(../img/keci.png);}
.intro .grid .row3 .row__item:nth-of-type(2) .row__item-img {background-image:url(../img/mofa.png);}
.intro .grid .row3 .row__item:nth-of-type(3) .row__item-img {background-image:url(../img/asf.png);}
.intro .grid .row3 .row__item:nth-of-type(4) .row__item-img {background-image:url(../img/111.png);}
.intro .grid .row3 .row__item:nth-of-type(5) .row__item-img {background-image:url(../img/cj.png);}
.intro .grid .row3 .row__item:nth-of-type(6) .row__item-img {background-image:url(../img/cj.png);}
.intro .grid .row3 .row__item:nth-of-type(7) .row__item-img {background-image:url(../img/cj.png);}

/* row4 */
.intro .grid .row4 .row__item:nth-of-type(1) .row__item-img {background-image:url(../img/cj.png);}
.intro .grid .row4 .row__item:nth-of-type(2) .row__item-img {background-image:url(../img/tamburins.png);}
.intro .grid .row4 .row__item:nth-of-type(3) .row__item-img {background-image:url(../img/dior.png);}
.intro .grid .row4 .row__item:nth-of-type(4) .row__item-img {background-image:url(../img/benefit.png);}
.intro .grid .row4 .row__item:nth-of-type(5) .row__item-img {background-image:url(../img/tta.png);}
.intro .grid .row4 .row__item:nth-of-type(6) .row__item-img {background-image:url(../img/ansanebook.png);}
.intro .grid .row4 .row__item:nth-of-type(7) .row__item-img {background-image:url(../img/mvoting.png);}

/* row5*/
.intro .grid .row5 .row__item:nth-of-type(1) .row__item-img {background-image:url(../img/yeyak.png);}
.intro .grid .row5 .row__item:nth-of-type(2) .row__item-img {background-image:url(../img/arte.png);}
.intro .grid .row5 .row__item:nth-of-type(3) .row__item-img {background-image:url(../img/lgchem.png);}
.intro .grid .row5 .row__item:nth-of-type(4) .row__item-img {background-image:url(../img/bam.png);}
.intro .grid .row5 .row__item:nth-of-type(5) .row__item-img {background-image:url(../img/nuxe.png);}
.intro .grid .row5 .row__item:nth-of-type(6) .row__item-img {background-image:url(../img/lotte.png);}
.intro .grid .row5 .row__item:nth-of-type(7) .row__item-img {background-image:url(../img/lush.png);}

.intro .grid .row .row__item .row__item-img {position: relative;}
.intro .grid .row .row__item .row__item-img  span {width: 100%; text-align: center; font-size: 25px; position: absolute; bottom: 25%; left: 50%; transform: translateX(-50%) ;font-family: 'jalnan';}

body.noscroll  .fullview .section {display: none;}
video {position: absolute; width: 100%; height: 100%; left: 0; top: 0; background-size: 100% 100%; background-color: black; /* in case the video doesn't fit the whole page*/ background-position: center center; background-size: contain; object-fit: cover;}
#myVideo, #myVideo2 {opacity: .7;}
.txtBox {position: absolute; top: 30%; left: 50%; transform: translateX(-50%); text-align: center; width: 70%;}
.txtBox a {font-size: 75px; font-family: 'pretendard-R'; -webkit-text-fill-color: transparent; -webkit-text-stroke: 1px; color: #ffffff; ; z-index: 1;}

/* work */
.content  .work {font-size: 20px; margin: 50px;}
.content  .work  .worklist {width: 100%;}
.content  .work  .worklist > li {border-bottom: solid 1px #000;}
.content  .work  .worklist > li a {padding: 20px 0 30px 0;}
.content  .work  .worklist > li a .title {padding-bottom: 20px;}
.thum {
  position: fixed;
  display: none;
  z-index: 9999;
  width: 400px;
  height: 270px;
  pointer-events: none;
  border-radius: 20px;
  overflow: hidden;
  /* translate 빼기! */
  transform: none;
  box-shadow: 0 5px 25px rgba(0,0,0,0.25);
}

.thum img {
  width: 100%; /* 크기 명시적으로 지정 */
  height: 100%;
  /* border-radius: 20px; */
  display: block;
}
.content .flex {display: flex;}
.content .flex.col {flex-direction: column;}

@keyframes titleIn {
  from { opacity: 0; letter-spacing: -5px; transform: translateY(20px); }
  to { opacity: 1; letter-spacing: 0; transform: translateY(0); }
}
.content__header  h2 { font-family: 'pretendard-SB'; text-shadow: 12px 7px 10px #625959;}
.content__header.on  h2{
  animation: titleIn 0.8s ease forwards;
}