@charset "utf-8";

@import "reset.css";
@import "base.css";
@import "font.css";

/****************** intro ******************/
/* row1 */
.intro .grid .row1 .row__item:nth-of-type(1) .row__item-img {background-image:url(../img/ansanebook.png);}
.intro .grid .row1 .row__item:nth-of-type(2) .row__item-img {background-image:url(../img/mvoting.png);}
.intro .grid .row1 .row__item:nth-of-type(3) .row__item-img {background-image:url(../img/yeyak.png);}
.intro .grid .row1 .row__item:nth-of-type(4) .row__item-img {background-image:url(../img/arte.png);}
.intro .grid .row1 .row__item:nth-of-type(5) .row__item-img {background-image:url(../img/lgchem.png);}
.intro .grid .row1 .row__item:nth-of-type(6) .row__item-img {background-image:url(../img/bam.png);}
.intro .grid .row1 .row__item:nth-of-type(7) .row__item-img {background-image:url(../img/nuxe.png);}

/* row2 */
.intro .grid .row2 .row__item:nth-of-type(1) .row__item-img {background-image:url(../img/lotte.png);}
.intro .grid .row2 .row__item:nth-of-type(2) .row__item-img {background-image:url(../img/lush.png);}
.intro .grid .row2 .row__item:nth-of-type(3) .row__item-img {background-image:url(../img/cocacola.png);}
.intro .grid .row2 .row__item:nth-of-type(4) .row__item-img {background-image:url(../img/roundaround.png);}
.intro .grid .row2 .row__item:nth-of-type(5) .row__item-img {background-image:url(../img/aromatica.png);}
.intro .grid .row2 .row__item:nth-of-type(6) .row__item-img {background-image:url(../img/krispy.png);}
.intro .grid .row2 .row__item:nth-of-type(7) .row__item-img {background-image:url(../img/acebed.png);}

/* row3 */
.intro .grid .row3 .row__item:nth-of-type(1) .row__item-img {background-image:url(../img/keci.png);}
.intro .grid .row3 .row__item:nth-of-type(2) .row__item-img {background-image:url(../img/mofa.png);}
.intro .grid .row3 .row__item:nth-of-type(3) .row__item-img {background-image:url(../img/asf.png);}
.intro .grid .row3 .row__item:nth-of-type(4) .row__item-img {background-image:url(../img/111.png);}
.intro .grid .row3 .row__item:nth-of-type(5) .row__item-img {background-image:url(../img/cj.png);}
.intro .grid .row3 .row__item:nth-of-type(6) .row__item-img {background-image:url(../img/cj.png);}
.intro .grid .row3 .row__item:nth-of-type(7) .row__item-img {background-image:url(../img/cj.png);}

/* row4 */
.intro .grid .row4 .row__item:nth-of-type(1) .row__item-img {background-image:url(../img/cj.png);}
.intro .grid .row4 .row__item:nth-of-type(2) .row__item-img {background-image:url(../img/tamburins.png);}
.intro .grid .row4 .row__item:nth-of-type(3) .row__item-img {background-image:url(../img/dior.png);}
.intro .grid .row4 .row__item:nth-of-type(4) .row__item-img {background-image:url(../img/benefit.png);}
.intro .grid .row4 .row__item:nth-of-type(5) .row__item-img {background-image:url(../img/tta.png);}
.intro .grid .row4 .row__item:nth-of-type(6) .row__item-img {background-image:url(../img/ansanebook.png);}
.intro .grid .row4 .row__item:nth-of-type(7) .row__item-img {background-image:url(../img/mvoting.png);}

/* row5*/
.intro .grid .row5 .row__item:nth-of-type(1) .row__item-img {background-image:url(../img/yeyak.png);}
.intro .grid .row5 .row__item:nth-of-type(2) .row__item-img {background-image:url(../img/arte.png);}
.intro .grid .row5 .row__item:nth-of-type(3) .row__item-img {background-image:url(../img/lgchem.png);}
.intro .grid .row5 .row__item:nth-of-type(4) .row__item-img {background-image:url(../img/bam.png);}
.intro .grid .row5 .row__item:nth-of-type(5) .row__item-img {background-image:url(../img/nuxe.png);}
.intro .grid .row5 .row__item:nth-of-type(6) .row__item-img {background-image:url(../img/lotte.png);}
.intro .grid .row5 .row__item:nth-of-type(7) .row__item-img {background-image:url(../img/lush.png);}

.intro .grid .row .row__item .row__item-img {position: relative;}
.intro .grid .row .row__item .row__item-img  span {width: 100%; text-align: center; font-size: 25px; position: absolute; bottom: 25%; left: 50%; transform: translateX(-50%) ;font-family: 'jalnan';}

body.noscroll  .fullview .section {display: none;}
video {position: absolute; width: 100%; height: 100%; left: 0; top: 0; background-size: 100% 100%; background-color: black; /* in case the video doesn't fit the whole page*/ background-position: center center; background-size: contain; object-fit: cover;}
#myVideo, #myVideo2 {opacity: .7;}
.txtBox {position: absolute; top: 30%; left: 50%; transform: translateX(-50%); text-align: center; width: 70%;}
.txtBox a {font-size: 75px; font-family: 'pretendard-R'; -webkit-text-fill-color: transparent; -webkit-text-stroke: 1px; color: #ffffff; ; z-index: 1;}

/* work */
.content  .work {font-size: 20px; margin: 50px;}
.content  .work  .worklist {width: 500px;}
.content  .work  .worklist > li {border-bottom: solid 1px #000;}
.content  .work  .worklist > li a {padding: 20px 0 30px 0;}
.content  .work  .worklist > li a .title {padding-bottom: 20px;}
.thum {position: fixed; top: 50%; left: 70%; transform: translate(-50%, -50%); width: 600px; height: 400px; border-radius: 30px; display: none; overflow: hidden; }
.thum img {width: 100%; height: auto; display: block;}
.flex {display: flex;}
.flex.col {flex-direction: column;}