@import url(/reset.css);
@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GowunBatang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

figure{position: fixed;width: 100%;height: 100%;}
video{width: 100%;min-width: 1822px;}

header{
    position: fixed;height: 100%;width: 800px;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); transform: skew(-40deg);
left: -600px;}
header span{font-family:'EliceDigitalBaeum_Bold' ;}

header .nav{position: absolute;right: 0;width: 160px;top:170px}

.nav a{display: block;}
li.main{position: relative;}

/* li.nav>a{transform: skewX(40deg);} */

ul.sub{ position: absolute;left:-100px;width: 140px;background: rgb(240, 202, 214);top:0;opacity: 0; transition: .6s;}
ul.sub a{color: #fff;text-align: center;padding: 5px;}
ul.sub li:hover a{background:rgb(208, 208, 247) ;}
header h1{position: absolute;right: 45px; top: 40px;
transform: skewX(40deg);}
header h1 img{width: 150px;}

li.main:hover,
li.main.on{background: rgb(208, 208, 247);}
/* 메인메뉴에 호버하면 */
li.main.on .sub{display: block;left: 159px;opacity: 1;}
/* 메인 메뉴에 호버했을때 서브를 제어하겠다 */
/* li.main:hover .sub 실행하면 css 우선순위기 때문에 자바스크립트가 실행이 안돼서 addClass, removeClass로 제어하기위해 on클래스로 지정함 */

li.main>a{ padding: 10px 0 10px 40px; color: #fff;

    }
.nav span{display: block;     
/*부모를 스큐했기 때문에 자식 글자가 기울어지기때문에 똑바로 하기 위해서 지정*/
/* 호버했을때 부모와 같이 a가 스큐되어 있어야 하고 글자만 똑바로 하기위해 span으로 둘러쌈 */
/* 트랜스폼을 지정할때 인라인요소는 적용안됨 블락 요소로 변경해야한다 */
transform: skewX(40deg);}

aside{position: fixed; right: 0; height: 100%;
    width: 800px;
    background-image: linear-gradient(60deg, #fbc2eb 0%, #a6c1ee 100%); transform: skew(-40deg);
    right: -800px; transition: .5s;
    font-family: 'GowunBatang-Bold'
}
aside .miss{transform: skewX(40deg);position:absolute;left: -110px;top:570px;transition: .5s;}

aside .miss img{width: 280px;}


.per{width: 100%;height: 100%;
position: absolute;left: 100%;transition: .5s;background: rgba(243, 194, 194, 0.5) ;
}
.banner img{cursor: pointer;}
aside:hover{right: -600px;
}
aside:hover .miss{top:200px;left:-200px; z-index: 100;}
aside:hover .per{left: 5%;}
/* aside:hover .per li{transform: translateX(0);} */
aside:hover .btn{left: 600px;}



.btn {position: absolute;z-index: 999;width: 200px;height: 80px; 
    bottom:0;left: 110px;font-size:80px;color:#a6c1ee;transform: skewX(40deg);transition: .5s;}
.btn i{position: absolute;right: 0;animation: btnAni 1.5s linear infinite;}

.btn i:nth-child(1){animation-delay: 0s;}
.btn i:nth-child(2){animation-delay: .5s;}
.btn i:nth-child(3){animation-delay: 1s;}

@keyframes btnAni{
0%{right: 0;opacity: 0;transform:scale(.8)}
100%{right: 150px;opacity: 1;transform: scale(1.2);}

}


/* .per img{width: 100px; border-radius: 10%;overflow: hidden;}
.per ul{position: absolute;top:500px;left:70px}

.per h3{color: #fff;;margin: 10px;}
.per ul li{transform: translateX(600px);transition: .5s;text-align: center;transform: skewX(40deg);
}
.banner{overflow: hidden;}

.per li:nth-child(1){transition-delay: .4s;}
.per li:nth-child(2){transition-delay: .6s;}
.per li:nth-child(3){transition-delay: .7s;} */

aside:hover .per li{transform: translateX(0);}


.per img{width: 250px;;transform: skewX(40deg)
scale(1.1);border-radius: 30px;border-top-right-radius: 2px;border-bottom-left-radius: 2px;}
.per ul{position: absolute;top:470px;left:-70px;width: 160px;}

.per h3{color: #fff;;margin: 10px;transform: skewX(40deg);text-align: center;}
.per ul li{transform: translateX(600px);transition: .5s;;
   }


.per li:nth-child(1){transition-delay: .4s;}
.per li:nth-child(2){transition-delay: .6s;}
.per li:nth-child(3){transition-delay: .7s;}

.miss img{transform: skewX(40deg); animation: bounce 2s linear infinite;}

    @keyframes bounce {
    0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    }
    40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
    }
    70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
    }
    90% { -webkit-transform: translate3d(0,-4px,0); transform: translate3d(0,-4px,0);
    }
    } 
