@font-face {
    font-family: 'noto';
    src: url(/font/NotoSans-Light.woff);
}
body{line-height: 1.2;font-family: 'noto';overflow: hidden;}
h4{position: absolute;top: 90px;position: fixed;z-index: 999;}
header{height: 90px;box-shadow: 0 0 4px rgb(0 0 0 / 50%);width: 100%;position: fixed;z-index: 10;z-index: 100;}
header.bg0{background: #fff;}
header.bg1{background:rgb(204, 204, 204) }
header.bg2{background: rgb(255, 70, 70);;}
header.bg3{background: rgb(204, 204, 204);}
header.bg4{background: #fff;}
.headerInner{width: 1400px;margin: auto;height: 100%;; display: flex;align-items: center;justify-content: space-between;}
nav ul{display: flex;text-align: center;}
nav ul li{padding: 20px;}
nav ul li a{display: block;padding: 5px;}
nav ul li.on a{font-weight: 600;border-bottom: 2px solid #333;}
.gnb ul{display: flex;}
.gnb ul li{width: 30px;height: 30px;margin-right: 20px;}
.gnb ul li a{display: block;}
.wrap{display: flex;width: 500%}
section{width: 20%;height: 100vh;position: relative;}
#sect1{background: url(./img/01-Stardust-reveal.gif);background-size: cover;background-position: center;background-position-y: -90px;}
#sect2{background: url(./img/02_HeaderImage.png);background-size: cover;background-position: center;}
#sect3{background: url(./img/03_HeaderImage.png);background-size: cover;background-position: center;}
#sect4{background: url(./img/04_HeaderImage.png);background-size: cover;background-position: center;}
#sect5{background: url(./img/coke-creadition-stardust.jpg);background-size: cover;background-position: center;}

.txtBox{width:675px;position: absolute;left: -5000px;opacity: 0;}
#sect1 .txtBox.on,#sect3 .txtBox.on,#sect5 .txtBox.on{color: #fff;;padding: 30px;bottom: 0;left: 10px;opacity: 1;}
#sect2 .txtBox.on,#sect4 .txtBox.on{color: #fff;padding: 30px;bottom: 0;left:60% ;opacity: 1;}
.txtBox h2{font-size: 45px;padding-bottom: 20px;font-weight: 600;text-shadow: 0 0 7px rgb(0 0 0 / 50%)}
.txtBox p{font-size: 18px;padding-bottom: 30px;}
.txtBox a{display: inline-block;color: #fff;padding: 10px 20px;border: 1px solid #fff;}
figure{width: 100%;text-align: center;}
figure img{width: 100px;}
figcaption{text-align: center;margin-top: 7px;color: #fff;}
.brand{position: relative;top: 55%;}
.swiper-button-next,.swiper-button-prev{position: absolute;top: 67%;;}
.swiper-button-prev{left: 53%;}
.swiper-button-prev::after{width: 30px;height: 30px;content: '';background: url(./img/left-arrowwhite.png);background-size: cover;}
.swiper-button-next{right: 7%;}
.swiper-button-next::after{width: 30px;height: 30px;content: '';background: url(./img/right-arrowwhite.png);background-size: cover;}
footer{height: 175px;background: #4a4a4a;border-top: 1px solid #e5e5e5;color: #f2f2f2;display: flex;align-items: center;justify-content: space-between;padding: 30px;}
.footerRight ul{display: flex;}
p.copy{padding-top: 10px;}
ul.ftMenu li a{display: block;color: #f2f2f2;}
ul.ftMenu li {padding: 10px;}
ul.sns{justify-content: center;}
ul.sns li{width: 41px;height: 41px;margin: 10px;}
ul.sns li img{width: 100%;}